*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
body
{
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    background: rgb(0, 0, 0);
    max-width:100%;
}

body
{
    overflow-x: hidden;
}

/* .webgl
{
    position: absolute;
    top: 100%;
    left: 0;
    outline: none;
    mix-blend-mode: screen;
    z-index: 0;
    max-width:100%;
    height: 100%;
} */

.container1
{
    height: 100%;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, 1);
}

h1
{
    font-size: 2rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    mix-blend-mode: overlay;
}

button{
    font-size: 2rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    mix-blend-mode: overlay;
    font-family: 'Raleway', sans-serif;
    mix-blend-mode:overlay;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.container button{
    animation: opacity 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes opacity {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}

.link a
{
    z-index: 100;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    mix-blend-mode: overlay;
    text-decoration: none;
}

h2
{
    font-size: 5vw;
    text-transform: uppercase;
    color: white;
}

.container1 a
{
    position: absolute;
    font-size: 100%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.507);
    border-radius: 10%;
}

.container1 ul {
    position: absolute;
    top: 30%;
    left: 5%;    
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.507);
    list-style-type: none;
}

.container1 li {
    margin: 0 0 1vw 0;
}

li label {
    font-size: 1vw;
}

#gui { 
    opacity: 10%;
    /* top: 150%; */
 }

#gui:hover{
    opacity: 100%;
}

.progress-bar-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#progress-bar {
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
}

label {
    color: white;
    font-size: 2rem;
}

.update, .minus, .fminus {
    font-size: 1em;
    top: 80%;
    left: 5%; 
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .update:hover, .minus:hover, .fminus:hover {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
  }

.add, .fadd {
    font-size: 1em;
    top: 80%;
    left: 15%; 
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .add:hover, .fadd:hover {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
  }

  .add, .minus {
    top: 25%;
  }

  .fadd, .fminus {
    top: 50%;
  }

  .radd {
    position: fixed;
    width: 5%;
    top: 75%;
    left: 7.5%;
    font-size: 1em;
    background-color:#404040;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid #404040;
    text-align: center;
    padding: 10px;
  }
  .radd:hover {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

.varustext, .varusnum {
  position: fixed;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.5);
  top: 20%;
  left: 7.5%;
  text-align:justify;
}
.varusnum {
  top: 26%;
  left: 10%;
}

.flexiontext, .flexionnum {
  position: fixed;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.5);
  top: 45%;
  left: 7.5%;
  text-align: center;
}
.flexionnum {
  top: 51%;
  left: 10%;
}

.resecttext {
  position: fixed;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.5);
  top: 70%;
  left: 7.5%;
  text-align: center;
}

.customize {
    top: 80%;
    right: 10%;
    font-size: 1em;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .customize:hover {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    left: 25%;
    background: rgba(255, 255, 255, 0.7);
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }

  .content label {
    font-size: 1em;
    color: #333;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 30%;
    }
    .popup{
      width: 30%;
    }
  }

/* section
{
    height:100vh;
} */

.toolkit {
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    padding: 1vw;
    position: relative;
    opacity: 0;
    transition-duration: 0.2s;
    transition-property: opacity, transform;
    border-radius: 5%;
}

.hide {
    opacity: 0;
    transform: translateY(-10px);
}

.show {
    opacity: 1;
    transform: translateY(0px);
}
