*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
body
{
    height: 100vh;
    font-family: 'Gotham';
    background: rgb(0, 0, 0);
    max-width:100%;
}

body
{
    overflow-x: hidden;
}

/* .webgl
{
    position: absolute;
    top: 100%;
    left: 0;
    outline: none;
    mix-blend-mode: screen;
    z-index: 0;
    max-width:100%;
    height: 100%;
} */

.navbar
{
    position: fixed;
    width: 100vw;
    display: flex;
    background: #e7e7e71a;
     backdrop-filter: blur(10px);
}

.nav
{
    padding: 5px;
}

.nav a
{
    font-size: 2rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    mix-blend-mode: overlay;
}

.nav-dark {
    background: #40404013;
}

.nav-dark p{
    color: rgb(61, 61, 61);
    border: 1px solid rgb(61, 61, 61);
}

.container
{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    backdrop-filter: blur(10px); 
    background-image: url(/static/bglight_Copy.png);
    background-size: cover;
    background-position: center;
}

.dark-mode {
    background-image: url(/static/bgdark_Copy.png);
    color: white;
}

.container1
{
    height: 100%;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, 1);
}

h1
{
    font-size: 8vw;
    text-transform: uppercase;
    color: black;
    mix-blend-mode:overlay ;
    border: 1px solid black;
}

button{
    font-size: 8vw;
    font-family: 'Gotham';
    color: black;
    mix-blend-mode:overlay;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.container button{
    animation: opacity 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes opacity {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}

.link a
{
    z-index: 100;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    mix-blend-mode: overlay;
    text-decoration: none;
}

h2
{
    font-size: 5vw;
    text-transform: uppercase;
    color: white;
}

.container1 a
{
    position: absolute;
    top: 180%;
    font-size: 100%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.507);

}

#gui { 
    opacity: 10%;
    top: 150%;
 }

#gui:hover{
    opacity: 100%;
}

.progress-bar-container {
    position: absolute;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#progress-bar {
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
}

label {
    color: white;
    font-size: 2rem;
}

.customize {
    font-size: 1em;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .customize:hover {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

/* section
{
    height:100vh;
} */